.colorreference {
    color: #a9071e #7851a9 #1034a6 #0087bd #ffd300;
    border-color: #aad1d8 #a0d36e #facb47 #fdfae1;
    color: whitesmoke;
}

body>div:not(#home), #about.about {
    width: 80%;
    margin: 0 auto 50px;
    padding-bottom: 50px;
    /*     background-color: honeydew;  */
}

#about.about>.container {
    width: 100%;
}

#about {
    background-color: #fdfae1;
}

#gallery {
    background-color: #aad1d8;
}

#skills {
    background-color: honeydew;
}

#experience {
    background-color: #a0d36e;
}

#education {
    background-color: #fdfae1;
}

body div {
    border-radius: 20px;
}

html, body {
    font-family: "Open sans", Arial, Helvetica, sans-serif;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul, label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 20px;
}

/* menu */

#home .dropdown {
    position: fixed;
    top: 15px;
    left: 1%;
    z-index: 999;
}

.dropdown .btn {
    background-color: rgb(250, 250, 250, 0);
    color: #1034a6;
    border: none;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu span {
    color: #1034a6;
}

.dropdown-menu .fa {
    width: 20px;
    color: #1034a6;
    text-align: center;
}

.dropdown-menu a:hover i {
    background-color: #1034a6;
    color: #fff;
}

/* topbar */

.topbar {
    width: 95%;
    position: absolute;
    top: 2%;
    right: 0;
    text-align: right;
}

.topbar a {
    font-size: 24px;
    margin-right: 3%;
    padding: 0 5px;
    color: #1034a6;
    border-radius: 3px;
}

.topbar a:hover {
    background-color: #1034a6;
    color: #fff;
}

/* banner */

.banner {
    background: url("../img/banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 780px;
    margin: 0 auto;
    width: 100%;
}

.banner h1 {
    color: whitesmoke;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.8);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    top: 10%;
}

.banner h2 {
    color: #000;
    white-space: nowrap;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    text-align: right;
    position: relative;
    top: 15%;
    right: 10%;
}

/* drop words */

.banner>.drop-words {
    font-size: 120px;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -120px;
}

.drop-words pre {
    position: absolute;
    opacity: 0;
    color: #a0d36e;
    animation: vanish 18s linear infinite 0s;
}

.drop-words pre:nth-child(2) {
    animation-delay: 3s;
}

.drop-words pre:nth-child(3) {
    animation-delay: 6s;
}

.drop-words pre:nth-child(4) {
    animation-delay: 9s;
}

.drop-words pre:nth-child(5) {
    animation-delay: 12s;
}

.drop-words pre:nth-child(6) {
    animation-delay: 15s;
}

.social {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 1em 0 0;
    position: relative;
    left: 10%;
    top: 20px;
}

.social li {
    display: inline-block;
    margin: 0 6px;
}

/* 3d */

.social a {
    padding: 0;
    display: inline-block;
    float: none;
    width: 35px;
    height: 35px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    transform-style: preserve-3d;
    font-size: 25px;
}

.social .front, .social .back {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(18px);
    backface-visibility: visible;
}

.social .front {
    color: #fff;
}

.social .back {
    color: #212121;
}

.social .back {
    transform: rotateX(90deg) translateZ(18px);
    backface-visibility: hidden;
}

a.github .front {
    background: #00cc11;
}

a.linkedin .front {
    background: #3b5998;
}

.github .back, .linkedin .back {
    background: #fff;
}

.social a:hover {
    transform: rotateX(-90deg);
}

.social a:hover .back {
    backface-visibility: visible;
}

/* about */

.carousel-inner {
    padding-top: 20px;
}

#about .aboutleft img {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.6);
    margin-top: 10%;
}

h3.heading {
    line-height: 1.2em;
    width: 40%;
    text-align: center;
    font-size: 40px;
    color: #7d3f98;
    border-bottom: #7d3f98 1px dotted;
    margin: 0 auto;
    text-transform: uppercase;
}

/* slide */

table.about-info tr:first-child td, .carousel-item h3 {
    text-align: center;
    color: #1034a6;
    font-size: 36px;
}

table.about-info tr a {
    color: #2f2f2f;
}

table.about-info tr:last-child a {
    color: #fff;
}

table.about-info tr a:hover {
    color: #ff9900;
}

table.about-info td {
    font-size: 20px;
    width: 40%;
    text-align: left;
}

table.about-info td:first-child {
    width: 10%;
}

.carousel-item h4 {
    font-size: 32px;
    font-style: bold;
    text-align: center;
}

#about .carousel-item p {
    border-bottom: #2f2f2f 2px dotted;
    font-size: 17px;
}

table.about-info tr:last-child td {
    margin-top: 20 px;
    text-align: center;
    background-color: #1034a6;
}

#about .row :hover span {
    display: inline-block;
}

.about-slide .carousel-inner td {
    display: inline-block;
    font-size: 1em;
    color: #2f2f2f;
    margin-top: 1em;
}

.about-slide .carousel-inner {
    color: #2f2f2f;
}

.about-slide .carousel-inner a:hover {
    color: #ff9900;
}

.about-slide a:nth-child(1) {
    width: 25%;
}

#about-slide .carousel-item p {
    font-size: 22px;
    line-height: 1.2em;
    padding: 0.1em;
    margin: 0;
}

#about .carousel-item {
    height: 380px;
    margin: 0 atuo;
}

#about .aboutleft img {
    padding-top: 0;
    margin-top: 0;
}

.carousel.slide:hover>.carousel-control-prev span, .carousel.slide:hover>.carousel-control-next span {
    background-color: #000;
}

/* skills */

.bar p.bar-p {
    font-size: 14px;
    color: #353535;
    letter-spacing: .5px;
    line-height: 28px;
}

.skillsright h5.bar-p {
    font-size: 18px;
    color: #252525;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 26px;
    margin: 1em 0 0;
}

.skillsright h3.bar-h3 {
    font-size: 30px;
    letter-spacing: 0px;
    color: #272727;
    line-height: 28px;
    margin-bottom: .5em;
    text-transform: uppercase;
    font-weight: 600;
}

.bar .group {
    padding-left: 0;
    padding-right: 40px;
    width: 50%;
    float: left;
}

#skills-slide {
    display: none;
}

#skills .skillsright p, .bar-ul {
    font-size: 20px;
    line-height: 1.3em;
}

#skills .row p:first-child {
    font-size: 24px;
}

.skillsright .bar-p ul {
    font-size: 24px;
}

/* gallery */

/* flip the pane when hovered */

.card-container:not(.manual-flip):hover .card, .card-container.hover.manual-flip .card {
    transform: rotateY( 180deg);
}

.card-container.static:hover .card, .card-container.static.hover .card {
    transform: none;
}

/* flip speed */

.card {
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.front, .cardback {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.cardback a {
    text-align: center;
}

.card {
    background: #fff;
    color: none;
    height: 250px;
    border-radius: 20px;
    background: #fff url("../img/vortexGrey.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.card-container, .front, .cardback {
    width: 100%;
    height: 250px;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.card-container {
    border-radius: 20px;
    background: #fff url("../img/vortex.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.card img {
    width: 100%;
    height: 100%;
}

.card .cardback {
    height: 100%;
    transform: rotateY(180deg);
    margin: 0 auto;
}

.cardback fieldset {
    width: 90%;
    height: 150px;
    margin: 20px 0 0 20%;
    width: 80%;
    z-index: 50;
}

.cardback fieldset legend {
    color: #a9071e;
    font-size: 24px;
}

.cardback fieldset li {
    line-height: 1.1em;
    font-size: 16px;
    color: #1034a6
}

.cardback a {
    color: #0087bd
}

#gallery #gallery-slider {
    display: none;
}

#gallery p {
    text-align: center;
    font-size: 12px;
}

.carousel-indicators li, .sr-only {
    background-color: #444444;
}

/* education */

#education .grid h3 {
    color: #ff6600;
    margin-bottom: .5em;
    font-size: 28px;
}

#education .grid h4 {
    color: #146eb4;
    margin-top: 1em;
    font-size: 20px;
    font-style: italic;
}

#education .grid h5 {
    color: #2f2f2f;
    margin-top: 1em;
    font-size: 18px;
}

#education .grid p {
    font-size: 14.5px;
    color: #4a4a4a;
    letter-spacing: .5px;
    line-height: 28px;
    margin: 1em 0 0;
}

#education .grid h4 b {
    color: #7d3f98;
}

.grid {
    padding: 2em;
    text-align: center;
    transition: 0.5s all;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 1.5em;
}

.grid:hover {
    padding: 2em;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.9);
}

.grid i.fa.fa-laptop {
    font-size: 36px;
    color: #2dde98;
    padding-right: .5em;
}

.grid i.fa.fa-mobile {
    font-size: 40px;
    color: #00bce4;
    padding-right: .5em;
}

.grid i.fa.fa-line-chart {
    font-size: 36px;
    color: #ed1c24;
    padding-right: .5em;
}

.grid i.fa.fa-camera {
    font-size: 36px;
    color: #ff4f81;
    padding-right: .5em;
}

#education .grid, #experience .grid {
    height: 300px;
    background-color: #fff;
}

#education img, .experience img {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 5% 2% 0;
}

#exp-slider.container, #edu-slider.container {
    display: none;
}

/* experience */

#experience .grid h3 {
    color: #a9071e;
    margin-bottom: .5em;
    font-size: 28px;
}

#experience .grid h4 {
    color: #146eb4;
    margin-top: 1em;
    font-size: 20px;
    font-style: italic;
}

#experience .grid h5 {
    color: #2f2f2f;
    margin-top: 1em;
    font-size: 18px;
}

#experience .grid p {
    font-size: 16px;
    color: #4a4a4a;
    letter-spacing: .5px;
    line-height: 1.2em;
    margin: 0.6em 10% 0;
}

#experience .grid h4 b {
    color: #7d3f98;
}

#experience .fa {
    padding-right: 5%;
    color: #0087bd;
}

/*-- Technical-Skills-section --*/

.stats {
    background: url(../img/stats.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
}

.count-grid span {
    background: #ff9900;
    display: block;
    width: 45px;
    height: 2px;
    margin: 0 auto;
    transform: rotate(90deg);
    position: absolute;
    left: 12%;
    bottom: 43%;
}

.count-grid h4 {
    font-size: 4em;
    color: #fff;
}

.count-grid h5 {
    font-size: 1.1em;
    color: #eee;
    margin-top: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.count-grid i {
    font-size: 2em;
    color: #146eb4;
    width: 70px;
    height: 70px;
    padding-top: 0.7em;
}

.numscroller {
    font-size: 4em;
    color: #fff;
    padding: 0.3em 0;
    position: relative;
    font-family: 'PT Sans', sans-serif;
}

.row h3 span {
    color: #fff;
}

.count-grid {
    padding: 0 40px 40px;
}

/*--parallax-js--*/

/* ---- stats.js ---- */

#stats, .count-particles {
    -webkit-user-select: none;
}

#stats {
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.statsimg {
    background: url(../images/stats.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
}

.statsimg h3 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.quote {
    padding-top: 16%;
}

.statsimg span {
    background: #ffffff;
    display: block;
    width: 70%;
    height: 2px;
    margin: 0 auto;
}

/*--//Technical-Skills-section--*/

/* keyframes */

@keyframes vanish {
    0% {
        display: block;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
        display: none;
    }
}

/* responsive */

@media screen and (max-width:1500px) {
    body>div:not(#home), #about {
        margin: 0 auto 40px;
        padding-bottom: 40px;
    }
    .banner {
        max-height: 640px;
    }
    .banner h1 {
        font-size: 42px;
    }
    .banner h2 {
        font-size: 32px;
    }
    .social {
        left: 8%;
    }
    .drop-words {
        top: 25%;
    }
    h3.heading {
        font-size: 36px;
    }
    table.about-info tr:first-child td, .carousel-item h3 {
        font-size: 28px;
    }
    table.about-info td {
        font-size: 18px;
    }
    .carousel-item h4 {
        font-size: 20px;
    }
    #about-slide .carousel-item p {
        font-size: 20px;
        line-height: 1.3em;
        padding: 0.2em;
    }
    #about .carousel-item {
        height: 320px;
        margin: 0 atuo;
    }
    .skillsright h3.bar-h3 {
        font-size: 26px;
    }
    .bar .group {
        padding-left: 0;
        padding-right: 20px;
    }
    #skills .skillsright p, .bar-ul {
        font-size: 18px;
        line-height: 1.2em;
    }
    #skills .row p:first-child {
        font-size: 20px;
    }
    .banner>.drop-words {
        top: 200px;
    }
    #experience .grid p {
        font-size: 14px;
        letter-spacing: .4px;
        line-height: 1.1em;
    }
}

@media screen and (max-width: 1200px) {
    body>div:not(#home), #about {
        margin: 0 auto 40px;
        padding-bottom: 40px;
    }
    h3.heading {
        width: 60%;
    }
    .banner {
        max-height: 480px;
    }
    .banner h1 {
        font-size: 36px;
        top: 10%;
    }
    .banner h2 {
        font-size: 24px;
        right: 8%;
        top: 100px;
    }
    .social {
        left: 6%;
    }
    .banner>.drop-words {
        top: 130px;
    }
    h3.heading {
        font-size: 32px;
    }
    table.about-info tr:first-child td, .carousel-item h3 {
        font-size: 24px;
    }
    table.about-info td {
        font-size: 16px;
    }
    .carousel-item h4 {
        font-size: 18px;
    }
    #about-slide .carousel-item p {
        font-size: 16px;
        line-height: 1.2em;
    }
    #about .carousel-item {
        height: 300px;
        margin: 0 atuo;
    }
    .skillsright h3.bar-h3 {
        font-size: 22px;
    }
    .bar .group {
        padding-left: 10px;
    }
    #skills .skillsright p, .bar-ul {
        font-size: 16px;
        line-height: 1.1em;
    }
    #skills .row p:first-child {
        font-size: 16px;
    }
    .card-container, .card, .front, .cardback {
        width: 100%;
        height: 200px;
    }
    .cardback fieldset {
        margin-left: 10%;
    }
    .grid {
        margin-bottom: 2em;
    }
    #education img, .experience img {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:1000px) {
    #about-slide .carousel-item p {
        font-size: 14px;
        line-height: 1.1em;
        padding-top: 0.1em;
        margin-bottom: 0.1em;
    }
    .count-grid {
        padding: 0 10px 0px;
        float: left;
        width: 25%;
    }
    .numscroller {
        font-size: 3.5em;
    }
    .count-grid span {
        left: 2%;
        bottom: 30%;
    }
}

@media screen and (max-width:950px) {
    #about-slide .carousel-item p {
        font-size: 14px;
        line-height: 1.2em;
        padding-top: 0.1em;
    }
    .numscroller {
        font-size: 3.5em;
    }
}

@media screen and (max-width:700px) {
    body>div:not(#home), #about {
        width: 90%;
        margin: 0 auto 20px;
        padding-bottom: 10px;
    }
    .topbar {
        display: none;
    }
    .banner {
        max-height: 400px;
    }
    .banner h1 {
        font-size: 30px;
        top: 5%;
    }
    .banner h2 {
        font-size: 20px;
        right: 10%;
        top: 8%;
    }
    .banner h2 br {
        display: none;
    }
    .social {
        left: 2%;
    }
    .social div {
        width: 20px;
        height: 20px;
        overflow-block: block;
    }
    #home div.social {
        width: 20px;
    }
    .banner>.drop-words {
        font-size: 80px;
        top: 125px;
        margin-left: -90px;
    }
    h3.heading {
        font-size: 28px;
        margin: 0 auto;
    }
    table.about-info tr:first-child td, .carousel-item h3 {
        font-size: 20px;
    }
    table.about-info td {
        font-size: 18px;
    }
    .carousel-item h4 {
        font-size: 16px;
    }
    #about .aboutleft {
        width: 60%;
        margin: 0 auto;
    }
    #about-slide .carousel-item p {
        font-size: 16px;
        line-height: 1.2em;
        padding: 0.2em 0.05em;
        margin: 0.1em 0;
    }
    #about .carousel-item {
        height: 260px;
    }
    body .bar_label_min, body .bar_label_max, body .b_tooltip span {
        line-height: 1em;
        padding: 7px 0 0;
        margin-bottom: 0;
    }
    body .b_label {
        line-height: 1.1em;
        padding: 5px 0 0;
        margin-bottom: 0;
    }
    .skillsright h3.bar-h3 {
        font-size: 18px;
    }
    .bar .group {
        width: 90%;
    }
    div.bar-left div, div.bar-right div {
        padding: 0;
        margin: 0;
    }
    .bar_left, .bar_right {
        display: none;
    }
    #skills-slide {
        margin: 0 auto;
        width: 80%;
        display: block;
        float: none;
    }
    #skills .skillsright p, .bar-ul {
        font-size: 14px;
    }
    #skills .row p:first-child {
        font-size: 14px;
    }
    #skills.skills>.container>.row>div {
        margin: 0 10%;
    }
    .skillsright h5.bar-p {
        margin: 0;
        line-height: 1.1em;
    }
    #gallery .card-container {
        width: 250px;
        margin: 0 auto;
    }
    /* gallery slider */
    #gallery .gallery-frame {
        display: none;
    }
    #gallery #gallery-slider {
        display: block;
    }
    .FsetSlide a {
        text-decoration: underline;
    }
    .FsetSlide a:hover>legend {
        text-decoration: underline;
    }
    .grid h3 {
        font-size: 20px;
    }
    .grid p {
        font-size: 14px;
    }
    .carousel-inner {
        padding-top: 0;
    }
    /* edu-slider  exp-slider*/
    #education>.container>.row, #experience>.container>.row {
        display: none;
    }
    #edu-slider.container, #exp-slider.container {
        display: block;
    }
    #education .grid, #experience .grid {
        height: 220px;
    }
    #education .grid h3, #experience .grid h3 {
        margin: 0 auto 0.1em;
        font-size: 24px;
    }
    #education .grid h4, #experience .grid h4 {
        color: #146eb4;
        margin-top: 0.1em;
        font-size: 18px;
        font-style: italic;
    }
    #education .grid h5, #experience .grid h5 {
        color: #2f2f2f;
        margin-top: 0.1em;
        font-size: 18px;
    }
    #experience .grid p, #education .grid p {
        font-size: 12px;
        color: #4a4a4a;
        letter-spacing: 0.2px;
        line-height: 1.1em;
        margin: 0.2em 0 0;
    }
    body .bar_group_bar.thin {
        padding-top: 5px;
    }
    #education img {
        width: 24px;
        height: 24px;
    }
    #experience img {
        width: 24px;
        height: 24px;
    }
    .stats {
        padding: 0 1em;
    }
    .stats h3.heading {
        width: 80%;
        font-size: 24px;
    }
    .count-grid h5 {
        font-size: 1em;
        letter-spacing: 0;
    }
    .numscroller {
        font-size: 3em;
    }
}

@media screen and (max-width:400px) {
    #about-slide .carousel-item p {
        font-size: 14px;
        line-height: 1.2em;
        padding: 0.5em 0;
    }
    .numscroller {
        font-size: 1.5em;
    }
    .count-grid h5 {
        font-size: 0.5em;
        letter-spacing: 0;
    }
    h3.heading {
        width: 90%;
    }
    .stats h3.heading {
        width: 100%;
    }

}