html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    line-height: 1em;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.8vw;
}

h3 {
    line-height: 1.1em;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    font-size: 40px;
    color: #f90;
    text-transform: uppercase;
    font-weight: 700;
}

h4 {
    font-size: 32px;
    color: #1034a6;
    text-align: center;
}

#skills h4 {
    font-style: italic;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 24px;
}

h1, h2, h3, h4 h5, h6 {
    font-family: Georgia, serif;
    line-height: 1.1em;
}

p, td, a, i, li, span, input, label {
    font-size: 22px;
    line-height: 1.05em;
}
div {
    border-radius: 10px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 20vw;
    border-radius: 10px;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

body>.container {
    margin: 0 auto 5vw;
    padding: 1vw 2vw;
    background-color: rgba(255, 255, 255, 0.8);
}

/* body>.container:nth-child(even){
    background-color:rgba(250, 250, 225, 0.7) ;
    background-color: rgba(240,255,240,0.7);
} */

#about {
    margin-top: 5vw;
    padding-left: 3vw;
}

body {
    background: url("../img/desk.jpeg") no-repeat center/cover fixed;
}

a {
    color: #000;
}

/* #about {
    background-color: #fdfae1;
}

#gallery {
    background-color: #aad1d8;
}

#skills {
    background-color: honeydew;
}

 {
    background-color: #a0d36e;
}

#education {
    background-color: #fdfae1;
} */

/* menu */

#home .dropdown {
    position: fixed;
    top: 0.5vw;
    left: 1%;
    z-index: 99;
}

.dropdown .btn {
    background-color: rgb(250, 250, 250, 0);
    color: #1034a6;
    border: none;
    font-size: 30px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu span {
    color: #1034a6;
    font-size: 20px;
}

.dropdown-menu .fa {
    width: 20px;
    color: #1034a6;
    text-align: center;
}

.dropdown-menu a:hover i {
    background-color: #1034a6;
    color: #fff;
}

/* topbar */

.topbar {
    width: 95%;
    position: absolute;
    top: 2vw;
    right: 0;
    text-align: right;
}

.topbar a span {
     font-size: 2vw;
    margin-right: 3%;
    padding: 0 0.5vw  0;
    color: #1034a6;
    border-radius: 3px;
    text-transform: uppercase;
}

.topbar a span:hover {
    background-color: #1034a6;
    color: #fff;
}

/* banner */

.banner {
    background: url("../img/banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 51vw;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
}

h1 {
    color: #f90;
    font-size: 4.5vw;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.8);
    letter-spacing: 0.2vw;
    text-align: center;
    position: relative;
    top: 15%;
}

h2 {
    color: #000;
    white-space: nowrap;
    font-size: 3vw;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    text-align: right;
    position: relative;
    top: 15vw;
    right: 8%;
}

/* drop words */

.banner>.drop-words {
    font-size: 9vw;
    position: absolute;
    top: 20vw;
    left: 50%;
    margin-left: -10vw;
}

.drop-words pre {
    position: absolute;
    opacity: 0;
    color: #555;
    -webkit-animation: vanish 18s linear infinite 0s;
            animation: vanish 18s linear infinite 0s;
    line-height: 1.5em;
}

.drop-words pre:nth-child(2) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}

.drop-words pre:nth-child(3) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
}

.drop-words pre:nth-child(4) {
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
}

.drop-words pre:nth-child(5) {
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
}

.drop-words pre:nth-child(6) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.social {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 1em 0 0;
    position: relative;
    left: 10%;
    top: 20px;
}

.social li {
    display: inline-block;
    margin: 0 6px;
}

/* social */

.social {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 1em 0 0;
    position: relative;
    left: 10%;
    top: 20px;
}

.social li {
    display: inline-block;
    margin: 0 6px;
}

/* 3d */

#social>li div.front, #social>li div.back {
    border-radius: 0;
}

.social a {
    display: inline-block;
    float: none;
    width: 50px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    font-size: 40px;
}

.social .front, .social .back {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(25px);
            transform: translateZ(25px);
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
}

#social i {
    margin-top: 0.2em;
}

.social .front {
    color: #fff;
}

.social .back {
    color: #212121;
}

.social .back {
    -webkit-transform: rotateX(90deg) translateZ(18px);
            transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

a.github .front {
    background: #00cc11;
}

a.linkedin .front {
    background: #3b5998;
}

.github .back, .linkedin .back {
    background: #fff;
}

.social a:hover {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

.social a:hover .back {
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
}

/* about */

.carousel-inner {
    padding: 2vw 0 0;
}


img {
    height: 25vw;
    width: 25vw;
    max-height: 250px;
    max-width: 250px;
    border-radius: 10px;
}

#about .carousel-inner {
    border-radius: 0;
}

/* #about slide */

td {
    line-height: 1.2em;
}

.about-info tr:first-child td {
    text-align: center;
}

.about-info tr:last-child a {
    color: #fff;
}

a:hover {
    color: #ff9900;
}

.about-info td {
    width: 30%;
    text-align: left;
    padding: 0 4%;
}

.about-info td:first-child {
    width: 10%;
}

#about .carousel-item p {
    border-bottom: #2f2f2f 1px dotted;
    line-height: 1.1em;
    margin-bottom: 0.3em;
}

.about-info tr:last-child td {
    text-align: center;
}

.about-info tr:last-child td a {
    padding: 0.5vw;
    background-color: #1034a6;
    border-radius: 5px;
}

.about-info tr:last-child td a:hover {
    color: #f90;
}

/* .about-slide .carousel-inner a:hover {
    color: #ff9900;
} */

.aboutleft .aboutright, #about-slide>div {
    height: 350px;
}

.aboutleft {
    background: #fff url("../img/about.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 60%;
    padding: 10vw 5vw;
    max-width: 500px;
    height: 100px;
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.6);
}

.aboutright {
    padding-bottom: 0.5em;
    width: 90%;
    padding: auto 1em;
}

.carousel.slide:hover>.carousel-control-prev span, .carousel.slide:hover>.carousel-control-next span {
    background-color: #000;
}

/* gallery */

/* flip the pane when hovered */

.card-container:not(.manual-flip):hover .card, .card-container.hover.manual-flip .card {
    -webkit-transform: rotateY( 180deg);
            transform: rotateY( 180deg);
}

.card-container.static:hover .card, .card-container.static.hover .card {
    -webkit-transform: none;
            transform: none;
}

.card-container, .card, .front, .back, .cardback, .card img {
    width: 30vw;
    height: 25vw;
    max-width: 300px;
    max-height: 250px;
    border-radius: 10px;
}

/* flip speed */

.card {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.front, .cardback {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.cardback a {
    text-align: center;
}

.card {
    background: #fff;
    color: none;
    background: #fff url("../img/vortexGrey.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.card-container, .front, .cardback {
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.card-container {
    background: #fff url("../img/vortex.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.card img {
    width: 100%;
    height: 100%;
}

.card .cardback {
    height: 100%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    margin: 0 auto;
}

.cardback {
    padding: 36px 0 0;
}

.cardback ul {
    padding: 0 5% 0 15%;
}

.cardback h4 {
    color: #a9071e;
    text-align: center;
}

.cardback li {
    line-height: 1.1em;
    color: #1034a6;
}

#gallery #gallery-slider {
    display: none;
}

#gallery p {
    text-align: center;
}

#gallery h3 {
    padding-bottom: 0;
}

.carousel-indicators li, .sr-only {
    background-color: #444444;
}

/* skills */

.bar .group {
    padding-left: 0;
    padding-right: 2vw;
    width: 50%;
    float: left;
}

.bar-ul li {
    padding: 0.2em 0;
    line-height: 1.2em;
}

#skills-slide {
    display: none;
}

body .b_label, body .bar_label_min, body .bar_label_max, body .b_tooltip span {
    font-size: 16px;
    line-height: 1.6em;
    text-transform: uppercase;
}

.skillsright {
    padding: 0;
}

div.bar_group__bar.thin {
    padding-top: 10px;
}

/* experience */

#experience .carousel-inner {
    padding: 5px;
}

.grid {
    -webkit-box-shadow: 0 0 10px 3px #777;
            box-shadow: 0 0 10px 3px #777;
    background-color: #fff;
    text-align: center;
    margin: 5px 15px 10px;
    height: 260px;
    padding-top: 20px;
    background-color: #fafae1;
}

.grid:hover {
    border: 1px solid #dedede;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.9);
}

.grid h5 {
    margin-top: 0.2em;
    font-style: italic;
}

.grid h6 {
    color: #2f2f2f;
    margin-top: 0.5em;
}

.grid p {
    color: #4a4a4a;
    line-height: 1.2em;
}

.grid h6 b {
    color: #7d3f98;
}

#experience .fa {
    padding-right: 5%;
    color: #a9071e;
}

#exp-slider {
    display: none;
}

/* education */

.education img {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 5% 2% 0;
    border-radius: 10px;
}

#edu-slider {
    display: none;
}

/*-- Technical-Skills-section --*/

#stats {
    /*  background: url(../img/stats.jpg) no-repeat center/cover fixed; */
    overflow: hidden;
    text-align: center;
}

.count-grid span {
    background: #ff9900;
    display: block;
    width: 60px;
    height: 2px;
    margin: 0 auto;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    left: 40%;
    bottom: 40%;
}

.count-grid h6 {
    position: relative;
    margin-top: 50%;
}

.numscroller {
    font-size: 60px;
    color: #333;
    padding: 0.3em 0;
    position: relative;
    font-family: 'PT Sans', sans-serif;
}

.count-grid {
    padding: 0 40px;
}

/* Contact */

iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea, .contact input[type="tel"] {
    color: #8c8c8c;
    padding: 0.5em 1em 0.5em 0;
    border: 0;
    width: 95%;
    border-bottom: 1px solid #929292;
    background: none;
    -webkit-appearance: none;
    outline: none;
}

input[type="checkbox"] {
    cursor: pointer;
}

.contact textarea {
    min-height: 150px;
    resize: none;
}

/*-- input-effect --*/

.styled-input.input-top {
    margin-top: 0;
}

.styled-input input:focus~label, .styled-input input:valid~label, .styled-input textarea:focus~label, .styled-input textarea:valid~label {
    font-size: .9em;
    color: #333333;
    top: -1.3em;
    -webkit-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input {
    width: 100%;
    position: relative;
    margin: 0 0 0.8em;
}

.styled-input:nth-child(1), .styled-input:nth-child(3) {
    margin-left: 0;
}

.textarea-grid {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.styled-input label {
    color: #000;
    padding: 0.5em .9em 0.5em 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    display: block;
    line-height: 1em;
}

.styled-input input~span, .styled-input textarea~span {
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input textarea~span {
    bottom: 5px;
}

.styled-input input:focus.styled-input textarea:focus {
    outline: 0;
}

.styled-input input:focus~span, .styled-input textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s;
    transition: all 0.075s;
}

/*-- //input-effect --*/

.contact input[type="submit"] {
    color: #FFFFFF;
    padding: .5em 2em;
    background: #ff9900;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    border: none;
}

.contact input[type="submit"]:hover {
    background: #146eb4;
}

.contact-right {
    padding-left: 1em;
    float: left;
    padding-top: 0.5em;
}

.contact-right p {
    font-weight: 500;
    line-height: 1.2em;
}

.contact form>div {
    padding: 1em 1em 0;
}

.layouts i {
    vertical-align: middle;
    padding: 0.4em .4em 0.4em 0em;
    float: left;
}

.layouts {
    margin-bottom: 2em;
}

.layouts:nth-child(4) {
    margin-bottom: 0em;
}

form input:last-child {
    position: relative;
    left: 6%;
}

/* //Contact */

/* footer */

.footer.container {
    color: #fff;
    text-align: center;
    width: 100%;
    max-width: 100%;
    border-top: #000 2px dotted;
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
    background-color: #999;
}

.footer .social {
    position: relative;
    left: 0;
    top: -5px;
}

.footer h3 {
    padding: 0;
    margin: 0.2em;
}

.footer h3 a {
    color: #fff;
}

/* //footer */

/* keyframes */

/* drop words */

@-webkit-keyframes vanish {
    0% {
        display: block;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
        display: none;
    }
}

@keyframes vanish {
    0% {
        display: block;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
        display: none;
    }
}
@media screen and (max-width:1500px){
    .aboutleft {
        height: 27vw;
    }
}

@media screen and (max-width:1200px) {
    .container {
        width: 80%;
    }
    h3.heading {
        font-size: 3.5vw;
    }
    h4 {
        font-size: 2.5vw
    }
    .education img {
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 0.8vw;
    }
    h5 {
        font-size: 2vw;
    }
    h6 {
        font-size: 1.7vw;
    }
    p, td, a, i, li, span, input, label {
        font-size: 1.5vw;
    }
    .topbar a span {
        font-size: 2.3vw;
    }
    .social a {
        width: 4vw;
        height: 4vw;
        font-size: 3.2vw;
    }
    .social .front, .social .back {
        width: 4vw;
        height: 4vw;
        -webkit-transform: translateZ(2vw);
                transform: translateZ(2vw);
    }
    .social .back {
        -webkit-transform: rotateX(90deg) translateZ(2vw);
                transform: rotateX(90deg) translateZ(2vw);
    }
    .dropdown .btn {
        font-size: 3vw;
    }
    .aboutright, #about-slide>div {
        height: 30vw;
    }
    .card-container, .front, .cardback {
        margin-bottom: 3vw;
    }
    .card-container, .card, .front, .back, .cardback, .card img {
        width: 22vw;
        height: 18vw;
    }
    .bar-ul li {
        padding: 0.1em 0;
        line-height: 1em;
    }
    body .b_label, body .bar_label_min, body .bar_label_max, body .b_tooltip span {
        font-size: 1.5vw;
    }
    div.bar_group__bar.thin {
        padding-top: 0.9vw;
    }
    .cardback {
        padding-top: 2vw;
    }
    /*     #experience .row>div {
        padding: 0;
    } */
    .grid {
        height: 26vw;
        padding-top: 0.5em;
        margin: 1.5vw 1.5vw;
        height: 20vw;
    }
    .count-grid span {
        width: 3vw;
        bottom: 50%;
    }
    .count-grid h6 {
        margin-top: 40%;
    }
    .numscroller {
        font-size: 3vw;
    }
    .count-grid {
        padding: 0 2vw;
    }
    .footer .social {
        top: -1em;
    }
}

@media screen and (max-width:992px) {
    h3.heading {
        font-size: 3vw;
    }
    h4 {
        font-size: 2.7vw
    }
    .education img {
        width: 2.7vw;
        height: 2.7vw;
        border-radius: 0.9vw;
    }
    h5 {
        font-size: 2.2vw;
    }
    h6 {
        font-size: 1.9vw;
    }
    p, td, a, i, li, span, input, label {
        font-size: 1.7vw;
    }
    .topbar a span {
        font-size: 2.5vw;
    }
    .card-container, .card, .front, .back, .cardback, .card img {
        width: 21vw;
        height: 17vw;
    }
    td {
        line-height: 1.2em;
    }
    .cardback {
        padding-top: 0.5vw;
    }
    .cardbac li {
        line-height: 1em;
    }
    .grid {
        height: 26vw;
    }
}

@media screen and (max-width:850px) {
    .card-container, .card, .front, .back, .cardback, .card img {
        width: 23vw;
        height: 19vw;
    }
    .cardbac li {
        line-height: 1.2em;
    }
    .grid {
        height: 24vw;
    }
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 4.2vw;
    }
    h3.heading {
        font-size: 3.4vw;
    }
    h4 {
        font-size: 2.9vw
    }
    .education img {
        width: 2.9vw;
        height: 2.9vw;
        border-radius: 1vw;
    }
    h5 {
        font-size: 2.4vw;
    }
    h6 {
        font-size: 2.1vw;
    }
    p, td, a, i, li, span, input, label {
        font-size: 1.9vw;
    }
    .topbar a span {
        font-size: 2.7vw;
    }
    img {
        width: 30vw;
        height: 25vw;
    }
    .aboutleft {
        width: 50%;
        height: 160px;
    }
    .card-container, .card, .front, .back, .cardback, .card img {
        width: 32vw;
        height: 26vw;
    }
    td {
        line-height: 1.1em;
    }
    .skillsright {
        padding-left: 1.2em;
    }
    .cardback {
        padding-top: 5vw;
    }
    .grid {
        height: 27vw;
    }
}

@media screen and (max-width:575px) {
    h1 {
        font-size: 5vw;
    }
    h3.heading {
        font-size: 4vw;
    }
    h4 {
        font-size: 3.6vw
    }
    .education img {
        width: 3.6vw;
        height: 3.6vw;
        border-radius: 1.2vw;
    }
    h5 {
        font-size: 3.4vw;
    }
    h6 {
        font-size: 3.2vw;
    }
    p, td, a, i, li, span, input, label {
        font-size: 3vw;
    }
    .topbar {
        display: none;
    }
    .dropdown .btn {
        font-size: 18px;
    }
    .dropdown-menu span {
        font-size: 16px;
    }
    div.social {
        width: 4vw;
        top: -2vw;
        line-height: 1.2em;
    }
    .social a {
        width: 6vw;
        height: 6vw;
        font-size: 4.5vw;
    }
    .social .front, .social .back {
        width: 6vw;
        height: 6vw;
        -webkit-transform: translateZ(3vw);
                transform: translateZ(3vw);
    }
    .social .back {
        -webkit-transform: rotateX(90deg) translateZ(3vw);
                transform: rotateX(90deg) translateZ(3vw);
    }
    .dropdown .btn {
        font-size: 6vw;
    }
    img {
        width: 35vw;
        height: 35vw;
    }
    #about .carousel-inner, .aboutright, #about-slide>div {
        height: 43vw;
    }
    .aboutleft {
        height: 25vw;
    }
    .card-container, .card, .front, .back, .cardback, .card img {
        width: 100%;
        height: 50vw;
    }
    #gallery .gallery-frame {
        display: none;
    }
    #gallery #gallery-slider {
        display: block;
    }
    #gallery-slider .carousel-inner {
        width: 100%;
        padding: 20px;
    }
    .cardback {
        padding-top: 10vw;
    }
    #skills .bar {
        display: none;
    }
    #skills-slide {
        display: block;
        width: 80%;
    }
    .skillsright {
        padding-left: 2em;
        padding-right: 1em;
    }
    body .b_label, body .bar_label_min, body .bar_label_max, body .b_tooltip span {
        font-size: 2.8vw;
    }
    #skills-slide .carousel-inner {
        height: 30vw;
    }
    #experience .row {
        display: none;
    }
    .grid {
        height: 38vw;
        margin: 4vw;
        padding: 2vw 0 0;
        -webkit-box-shadow: 0 0 3vw 0.2vw #444;
                box-shadow: 0 0 3vw 0.2vw #444;
    }
    #exp-slider {
        display: block;
        width: 100%;
        margin: 0;
    }
    .grid:hover {
        -webkit-box-shadow: 0 0 4vw 0.1vw #111;
                box-shadow: 0 0 4vw 0.1vw #111;
    }
    #education .row {
        display: none;
    }
    #edu-slider {
        display: block;
        width: 95%;
    }
    .count-grid span {
        bottom: 60%;
    }
    .footer>div.social {
        width: 100%;
        ;
    }
}